:root {
  --roboto: 'Roboto', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --bgColorDark: #0f172a;
  --bgColorPurple: #6820a4;
  --colorPrincipal: #424874;
  --colorSecundario: #A6B1E1;
  --colorSecundario2: #DCD6F7;
  --colorSecundario3: #F4EEFF;
  --gris: #9198a5;

  --main-bg: #B2BEB5;

  /* Gradient */
  --gradienteSkew: linear-gradient(to right, #141e30, #243b55, #141e30);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: var(--roboto);
  margin: 0;
  background-color: black;
}

h1 { font-size: 6rem; }
h2 { font-size: 4.2rem; }
h3 { font-size: 2.4rem; }

a {
  text-decoration: none;
}

/* Scrollbar styling */

/* Chrome, Safari and Edge */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #d6d6d6;
}

body::-webkit-scrollbar
{
    width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #8c8c8c;
}
body::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #737373;
}
body::-webkit-scrollbar-thumb:vertical:active {
  background-color: #535353;
}

/* Firefox */
html {
    scrollbar-color: #8c8c8c #d6d6d6;
    scrollbar-width: thin;
}